@use "../variables" as *;

.pageProjects {
    padding: $pagePadding;
    background-color: $backgroundColor;

    h1 {
        color: $mainColor;
    }
    .projects {
        display: flex;
        gap: 1rem;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;

        .project {
            width: 200px;
            height: 300px;
            perspective: 1000px; // add 3D perspective
            .flipCardInner {
                border-radius: $borderTop;
                position: relative;
                transform-style: preserve-3d; // preserve 3D space for children
                transition: transform 0.6s;
                width: 100%;
                height: 100%;
                box-shadow: $mainColor 0px 3px 8px;
                &,
                &-front,
                &-back {
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    backface-visibility: hidden; // hide backface of the card
                }

                &-front {
                    height: 100%;
                    .imgContainer {
                        width: 200px;
                        height: 150px;
                        img {
                            width: 200px;
                            height: 150px;
                            border-radius: $borderTop;
                        }
                    }
                    .container {
                        padding: 0 0.5rem;
                        display: flex;
                        flex-flow: column wrap;
                        width: 100%;

                        .tags {
                            display: grid;
                            grid-template-columns: 1fr 1fr;
                            grid-gap: 10px;
                            gap: 10px;
                        }
                    }
                }

                &-back {
                    transform: rotateY(180deg);
                    background-color: #e6e6e6;
                    height: 100%;
                    width: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    text-align: center;
                    flex-direction: column;
                    box-shadow: $mainColor 0px 3px 8px;
                    border-radius: $borderTop;
                }
            }
            &:hover .flipCardInner {
                transform: rotateY(180deg);
            }
        }
    }
}
