@use "../variables" as *;

.pageSkills {
    height: 100vh;
    padding: $pagePadding;
    background-color: $backgroundColor;
    .skillbar {
        &-title {
            width: 140px;
            z-index: 1;
            span {
                background-color: $backgroundCard;
                font-size: 1rem;
                font-family: $mainFonts;
            }
        }
        &-bar {
            background-color: $scss;
        }
        &-percent {
            font-family: $mainFonts;
            font-size: 1rem;
        }
    }
}
