@use "../variables" as *;

.popupContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  h3 {
    padding: 10px 0;
    color: $javascript;
  }
  .popUpImage {
    height: 150px;
    width: 300px;
    border-radius: 10px;
    img {
      height: 150px;
      width: 100%;
      border-radius: 10px;
    }
  }
  .tags {
    display: flex;
    gap: 1rem;
    padding: 1rem;
    flex-wrap: wrap;
    justify-content: center;
    .tag {
      border-radius: 10px;
      text-align: center;
      font-weight: bold;
      padding: 10px;
      font-size: 20px;

      //   @mixin iconColor($name, $bgColor) {
      //     .#{$name} {
      //       padding: 10px;
      //       color: $bgColor;
      //     }
      //   }

      // $iconsColors: typescript $typescript, react $react, express $express,
      //   scss $scss, sqlite $sqlite, mongodb $mongodb, html5 $html5, css3 $css3,
      //   javascript $javascript, ejs $ejs, tailwind $tailwind, nextJs $nextJs;

      // @each $name, $color in $iconsColors {
      //   @include iconColor($name, $color);
      // }

      &.typescript {
        color: $typescript;
        background-color: rgba($typescript, 0.2);
      }

      &.react {
        color: $react;
        background-color: rgba($react, 0.2);
      }
      &.express {
        color: $express;
        background-color: rgba($express, 0.5);
      }
      &.scss {
        color: $scss;
        background-color: rgba($scss, 0.5);
      }
      &.sqlite {
        color: $sqlite;
        background-color: rgba($sqlite, 0.5);
      }
      &.mongodb {
        color: $mongodb;
        background-color: rgba($mongodb, 0.5);
      }
      &.html5 {
        color: $html5;
        background-color: rgba($html5, 0.5);
      }
      &.css3 {
        color: $css3;
        background-color: rgba($css3, 0.3);
      }
      &.javascript {
        color: $javascript;
        background-color: rgba($javascript, 0.5);
      }
      &.ejs {
        color: $ejs1;
        background-color: rgba($ejs1, 0.3);
      }
      &.tailwind {
        color: $tailwind;
        background-color: rgba($tailwind, 0.5);
      }
      &.nextJs {
        color: $nextJs;
        background-color: rgba($nextJs, 0.5);
      }
      &.cypress {
        color: $cypress;
        background-color: rgba($cypress, 0.5);
      }
      &.vitest {
        color: $vitest1;
        background-color: rgba($vitest2, 0.5);
      }
    }
  }
  .row {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    .icons {
      display: flex;
      justify-content: space-evenly;
      width: 100%;

      .icon {
        display: flex;
        font-size: 2.5rem;

        &.ic1:hover,
        &.ic2:hover {
          color: $Lime;
          cursor: pointer;
        }
      }
      .notUrl {
        color: red;
        cursor: auto;
      }
    }
    .description {
      color: gray;
      font-weight: bold;
      font-family: $textFonts;
    }
  }
}
