@import url("https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap");

$mainColor: #33857c;
$backgroundColor: rgb(21, 21, 51);
$Lime: #c9f1c5;
$pagePadding: 1rem 2rem;
$mainFonts: "Indie Flower";
$borderTop: 10px 10px 0 0;
$backgroundCard: #80d9c4;
$typescript: #2e8bc0;
$react: cyan;
$express: #b1d4e0;
$scss: #ffaebc;
$sqlite: #0000ff;
$mongodb: #18a558;
$html: #e55b13;
$css: #051537;
$javascript: #fad02c;
$ejs: #cdd193;
$ejs1: #cb0e55;
$tailwind: #1592b4;
$next: #0a0708;
$cypress: #ede4e3;
$vitest1: #f8d210;
$vitest2: #76b947;
