@import url("https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap");

$mainColor: #33857c;
$backgroundColor: rgb(21, 21, 51);
$Lime: #c9f1c5;
$pagePadding: 4rem;
$mainFonts: "Indie Flower";
