@use "variables" as *;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  .App {
    .navList {
      z-index: 2;
      width: 100%;
      align-items: center;
      display: flex;
      border-bottom: 1px solid $mainColor;
      .logo {
        background-color: $backgroundColor;
        h2 {
          color: $Lime;
          font-family: $mainFonts;
          padding: 1rem;
        }
      }
      nav {
        width: 92%;
        background-color: $backgroundColor;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        align-items: center;
        font-family: $mainFonts, cursive;
        padding: 0 5rem;

        a {
          color: $Lime;
          text-decoration: none;
          letter-spacing: 2px;
          padding: 1rem 0;
          font-weight: bold;
          &::first-letter {
            font-size: 1.5rem;
          }
          &:hover {
            color: $mainColor;
            cursor: pointer;
          }
        }

        a.active:not(:first-child) {
          color: $mainColor;
          cursor: pointer;
        }
      }
    }
    .fixed {
      position: fixed;
      left: 0;
      top: 0;
    }
    .notFixed {
      position: absolute;
      bottom: 0;
      left: 0;
    }
  }
  .textBox {
    background-color: $backgroundColor;
    h3 {
      letter-spacing: 10px;
      text-transform: uppercase;
      text-align: center;
      padding-bottom: 1rem;
    }
    p {
      text-align: center;
      padding: 3rem 1rem;
      text-align: justify;
    }
  }
}

@media (max-width: 567px) {
  .shadowBlackImg {
    max-height: 300px;
  }
  .rightImg {
    max-height: 350px;
  }
}
