@use "variables" as *;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: $mainFonts;
  background-color: $backgroundColor;
  h1 {
    color: $mainColor;
    padding: 2rem 0;
    text-align: center;
    font-size: 3rem;
  }
  .App {
    .loadingPage {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 1rem;
      height: 100vh;
      background-color: rgba($backgroundColor, 0.9);

      .spinnerLogoIcon {
        animation: spinner 1.2s linear infinite;
        transform-origin: center center;
        font-size: 5rem;
        color: $Lime;
      }
      span {
        font-size: 3rem;
        color: $Lime;
      }
    }
    .navList {
      z-index: 2;
      background-color: $backgroundColor;
      align-items: center;
      display: flex;
      font-size: 1rem;
      padding: 1rem;

      .logo {
        color: $Lime;
        display: flex;
        align-items: center;
        a {
          cursor: pointer;
          display: flex;
          align-items: center;
          justify-content: center;
          gap: 0.5rem;
          .logoIcon {
            width: 50px;
            height: 50px;
            color: $Lime;
            transform-origin: center center;
          }
          span {
            font-size: 1.3rem;
          }
        }
      }
      nav {
        width: 80%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        column-gap: 4rem;
        a {
          color: $Lime;
          text-decoration: none;
          letter-spacing: 2px;
          font-weight: bold;
          font-size: 1rem;
          &::first-letter {
            font-size: 1.5rem;
          }
          &:hover {
            color: $mainColor;
            cursor: pointer;
          }
        }

        a.active {
          color: $mainColor;
          cursor: pointer;
        }
      }
      .burgerMenu {
        transition: all 0.3s ease;
        position: sticky;
        left: 100%;
        width: 50px;
        height: 50px;
        display: none;

        .menuIcon {
          cursor: pointer;
          width: 50px;
          height: 50px;
        }
      }
      .menuOpen {
        transform: translateX(0%);
        width: 130px;
        height: max-content;
        padding-right: 1rem;
      }
    }
    .sticky {
      position: sticky;
      top: 0;
    }
  }

  @media (max-width: 768px) {
    .App .navList .burgerMenu {
      display: block;

      .menuIcon {
        color: $Lime;
      }
      nav {
        width: max-content;
      }
    }

    .menu {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      background-color: none;
      height: max-content;
      position: fixed;
      row-gap: 1rem;
      top: 20%;
      right: 0;
      transition: all 0.3s linear;
      transform: translateX(100%);
      width: 100px;
      a {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100px;
        height: 100px;
        border-radius: 100%;
        box-shadow: rgba($Lime, 0.25) 0px 6px 12px -2px,
          rgba($mainColor, 0.3) 0px 3px 7px -3px;
        background-color: rgba($backgroundColor, 0.9);
        font-size: 0.5rem;
        &:hover {
          box-shadow: rgba($Lime, 0.25) 0px 30px 60px -12px inset,
            rgba(rgba($mainColor, 0.3), 0.3) 0px 18px 36px -18px inset;
        }
      }
    }
  }

  @media (max-width: 567px) {
    .shadowBlackImg {
      max-height: 300px;
    }
    .rightImg {
      max-height: 350px;
    }
  }
}
@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
