@use "./variables" as *;
.cubeSpinner {
    animation: spinCube 12s infinite ease-in-out;
    transform-style: preserve-3d;
    transform-origin: 0 60px 0;

    div {
        position: absolute;
        width: 120px;
        height: 120px;
        border: 1px solid $shadowWhite;
        box-shadow: inset 0 0 20px rgba(0, 0, 0, 0.2);
        line-height: 120px;
        text-align: center;

        img {
            width: 120px;
            height: 120px;
        }
    }
    .face1 {
        transform: translateZ(60px);
        background: rgba(162, 238, 160, 0.8);
    }
    .face2 {
        transform: rotateY(90deg) translateZ(60px);
        background: rgba(9, 202, 192, 0.8);
    }
    .face3 {
        transform: rotateY(90deg) rotateX(90deg) translateZ(60px);
        background: rgba(155, 102, 5, 0.8);
    }
    .face4 {
        transform: rotateY(180deg) rotateZ(90deg) translateZ(60px);
        background: rgba(4, 176, 182, 0.8);
    }
    .face5 {
        transform: rotateY(-90deg) rotateZ(90deg) translateZ(60px);
        background: rgba(82, 60, 1, 0.8);
    }
    .face6 {
        transform: rotateX(-90deg) translateZ(60px);
        background: rgba(8, 21, 94, 0.8);
    }
}

@keyframes spinCube {
    from,
    to {
        transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
    }
    16% {
        transform: rotateY(-90deg);
    }
    33% {
        transform: rotateY(-90deg) rotateZ(90deg);
    }
    50% {
        transform: rotateY(-180deg) rotateZ(90deg);
    }
    66% {
        transform: rotateY(-270deg) rotateX(90deg);
    }
    83% {
        transform: rotateX(90deg);
    }
}
