@use "variables" as *;
@import url("https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap");
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.content {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    padding-top: 5rem;
    text-align: center;

    .personalContainer {
        display: flex;
        flex-direction: column;
        align-items: center;

        .personal {
            text-transform: uppercase;
            color: $shadowWhite;
            padding: 1rem 0;
            font-weight: bold;
            font-size: 4rem;
            height: fit-content;
            text-shadow: 5px 5px $shadowWhite;
            font-family: "Indie Flower", cursive;
            color: $backgroundColor;
        }
    }

    .shadowBlackImg {
        position: absolute;
        z-index: 2;
        width: 1880px;
        bottom: 0;
        left: 0;
        height: 450px;
    }

    .rightImg {
        position: absolute;
        z-index: 1;
        right: 0;
        bottom: 0;
        width: 600px;
        height: 450px;
    }
}

.parallaxRowLine {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 0.5rem;

    .parallaxLine {
        position: relative;
        height: 1px;
        background-color: $mainColor;
        transform-origin: center center;
        width: 40vw;
    }
    .parallaxSpace {
        position: absolute;
        height: max-content;
        width: 60px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: rgb(21, 21, 51);

        .BsTriangleHalfIcon {
            color: $mainColor;
        }
    }
}

@media (max-width: 567px) {
    .shadowBlackImg {
        max-height: 300px;
    }
    .rightImg {
        max-height: 350px;
    }
}
